.input{
    height: 5vh;
    width: 50vh;
    margin-bottom: 3vh;
    border-style: none;
    border-bottom: 1px solid lightgrey;
    font-family: inter;
    font-size: 14px;
}

textarea:focus, input:focus{
    outline: none;
    border-bottom: 1px solid black;
}
span{
    transform:translateY(-80%) translateX(10vh);
    align-self: flex-start;
    color: red;
    font-size: 12px;
    
}
.signup-form{
    margin-top: 2vh;
    /* border: 1px solid gray; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    border-radius: 20px;
    height: 70vh;
    width: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(62vh);
}
.SignupTitle{
    position: relative;
    top: -5vh
}

#btn{
    margin-top: 5vh;
    background: linear-gradient(90deg, rgba(228,139,91,1) 0%, rgba(213,127,80,1) 50%, rgba(187,88,35,1) 100%, rgba(45,40,113,1) 100%);    border: none;
    color: white;
    border-radius: 20px;
}