*{
    margin: 0;
    padding: 0;
}
.signUpContainer{
    position: relative;
    top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Google-Btn{
    position: relative;
    align-self: center;
    width: 40vh;
    height: 8vh;
    margin-top: 5vh;
    border-radius: 40px;
    font-size: 16px;
    font-family: inter;
    border: 1px solid grey;
    background: white;
}
#button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    cursor: pointer;
}